#body {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dItemList, #store {
  width: 100%;
}

button {
  width: 150px;
}

.itemRow, .createRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#new-item-create {
  margin-left: auto;
  background-color: lightcyan;
}

.itemRow div {
  display: flex;
  align-items: center;
}

.itemRow label {
  margin-right: 1rem;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-delete {
  color: #fff;
  background-color: #CF000F;
  border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
}